  <form>
    <h1>Login</h1>
    <span class="p-float-label">
      <input pInputText id="email" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" />
      <label htmlFor="email">Email</label>
    </span>

    <span class="p-float-label">
      <p-password [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" [feedback]="false" [toggleMask]="true"></p-password>
      <label for="password">Password</label>
     </span>
     
    <div class="link"><a href="forgot">Forgot Password?</a></div>

    <p-button label="Login" (click)="login()"></p-button>
   </form>

  
