.p-inputtext {
    width: 300px;
}
.p-dropdown {
    width: 300px;
}
.p-inputtext {
    border: none;
    border-bottom: 1px solid #ccc;
}
.p-float-label {
    .p-inputtext {
        border: none;
        border-bottom: 1px solid #ccc;
    }
}